@tailwind base;
@tailwind components;
@tailwind utilities;

/* Tambahkan di globals.css */
.bg-green-500 { background-color: #22c55e !important; }
.bg-blue-500 { background-color: #3b82f6 !important; }
.bg-red-500 { background-color: #ef4444 !important; }
.bg-yellow-500 { background-color: #eab308 !important; }
.bg-pink-500 { background-color: #ec4899 !important; }
.bg-purple-500 { background-color: #a855f7 !important; }
.bg-orange-500 { background-color: #f97316 !important; }
.bg-gray-500 { background-color: #6b7280 !important; }


.judul-besar {
    font-size: 24px;
    font-weight: bold;
  }
  
  .judul-sangat-besar {
    font-size: 40px;
    font-weight: bold;
  }
  
  .sub-judul {
    font-weight: bold;
  }